/* RESET */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* debug */
    border: 1px solid red;
}

/*******************************************
COMMON
********************************************/
/* colors */
.white {
    color: white;
}

.lightgray {
    color: rgb(129, 129, 129);
}

/* utilties */

.content

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.rowrev {
    flex-direction: row-reverse;
}

.end {
    justify-content: flex-end;
}



.card {
    width: calc(100% / 6 - 1rem);
    min-width: 100px;
    padding: 5px;
    margin: .5rem;
}

.button {
    padding: 10px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
}

.nounderline {
    text-decoration: none;
    text-align: center;
}

.title {
    padding-left: .5rem;
}

.circle {
    object-fit: cover;
    border-radius: 50%;
}

.between-space {
    border-bottom: 2px solid rgb(129, 129, 129);
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
    align-self: center;
}

/* end-utilities */

img {
    width: 100%;
}

p {
    padding: 5px 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 5px 0;
}

/*******************************************
END COMMON
********************************************/



/*******************************************
SIDEBAR
********************************************/

/* general */

.sidebar {
    width: 200px;
    height: calc(100vh - 98px);
    background-color: #000000;
    top: 0;
    left: 0;
    padding: 20px 0px 0 0px;
    gap: 10px;
    justify-content: space-between;
}

.sidebar-top {
    gap: 10px;
}

.sidebar-second {
    display: block;
}

.sidebar-bottom {
    padding-bottom: 20px;
}

/* end generals */

/* items */

.logo {
    padding-left: 10px;
}

.logo-small {
    display: none;
    padding-left: 10px;
}


.sidebar img {
    width: 80%;
}

.sidebar h3 {
    margin-left: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
}

.sidebar li {
    padding: 5px 0;
}

/* end items */

/* options */

.sidebar-opt {
    align-items: center;
    gap: 5px;
    padding: 0 10px;
}

.sidebar-opt img {
    width: 15%;
}

.sidebar-opt i {
    font-size: 2rem;
}

/* end options */

/* bottom */

.sidebar-bottom-opt {
    padding: 0 10px;
}

.sidebar-bottom-opt img {
    width: 10%;
}

.profile {
    background-color: rgb(129, 129, 129);
    font-size: .5rem;
}

/* end bottom */

/*******************************************
END SIDEBAR
********************************************/



/*******************************************
CONTENT
********************************************/

.content {
    margin-left: 200px;
    background-color: aqua;
    padding: 80px .5rem 120px;
    overflow-y: auto;
    background-color: #141922;
    height: 100vh;
}

/* sub-ad */

.sub-ad {
    width: calc(100% - 200px);
    top: 0;
    left: 200px;
    background-color: rgba(0, 1, 39, 0.507);
    padding: 20px;
}

 /* end sub-ad */

 /* navbar */

.navbar {
    width: 100%;
    padding: 20px;
    justify-content: center;
    gap: 10px;
}

.navbar h4 {
    padding: 0;
}
/* end navbar */

/* recently played */

.recentlyplayed {
    width: 100%;
} 

/* end recently played */

/* created for you */

.createdforyou {
    width: 100%;
}

/* end created fot you */

/* popular */

.popular {
    width: 100%;
}

/*******************************************
END CONTENT
********************************************/



/*******************************************
PLAYBAR
********************************************/

.playbar {
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: #282828;
    justify-content: space-between;
    padding: 20px;
}

.bigger {
    font-size: 1.5rem;
}

/* left section */

.playbar-info {
    width: 230px;
    justify-content: space-between;
    align-items: center;
}

.cover {
    width: 80%;
}

.cover-img {
    width: 30%;
}

.cover-name {
    justify-content: center;
    padding: 0 0 0 5px;
}

.cover-icons {
    gap: 10px;
}

/* end left section */

/* center section */

.playbar-controls {
    align-items: center;
    justify-content: space-between;
    min-width: calc(100% / 3);
    padding: 0 20px;
}

.controls {
    list-style-type: none;
    height: 40%;
    width: 80%;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.time-control {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.time-bars {
    width: 70%;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.timebar1 {
    height: 4px;
    background-color: white;
    border-radius: 3px;
    width: 30%;
}

.timebar2 {
    height: 4px;
    background-color: rgb(129, 129, 129);
    border-radius: 3px;
    width: 70%;
}

/* end center section */

/* right section */

.playbar-options {
    width: 230px;
    align-items: center;
    justify-content: space-between;
}

.playbar-options .time-bars {
    width: 60%;
}

/* end right section */

/*******************************************
END PLAYBAR
********************************************/



/*******************************************
SOLUZIONE RESPONSIVE
********************************************/

@media screen  and (max-width: 1100px) {

    .content .card {
        width: calc(100% / 4 - 1rem);
    }

}

@media screen  and (max-width: 700px) {
  
    .content .card {
        width: calc(100% / 2 - 1rem);
    }

    .controls {
        gap: 5px;
    }

}


@media screen  and (max-width: 600px) {
    .sidebar {
        width: 50px;
    }

    .logo {
        display: none;
    }

    .logo-small {
        display: inline-block;
    }

    .sidebar img {
        width: 80%;
    }

    .content {
        margin-left: 50px;
    }

    .content .card {
        width: calc(100% / 2 - 1rem);
    }

    .sub-ad {
        left: 50px;
        width: calc(100% - 50px);
    }

    .cover-icons {
        flex-direction: column;
    }
    
    .controls {
        gap: 5px;
    }

    .sidebar-top p {
        display:none;
    }

    .sidebar-second {
        display: none;
    }

    .sidebar-bottom p, .sidebar-bottom h3 {
        display: none;
    }

    .sidebar-bottom img {
        width: 80%;
    }

}

/*******************************************
:HOVER OPTIONS
********************************************/

.navbar a:hover::after {
    display: inline-block;
}

.sidebar-opt:hover {
    border-left: 4px solid #aaf82d;
}

.controls i:hover {
    font-size: 1.8rem;
}

.navbar a::after {
    display: none;
    height: 4px;
    background-color: #aaf82d;
    width: 40px;
    content: " ";
    align-self: center;
}




